{% extends "base.html" %}
{}
{% block title %} blog list {% endblock %}


{% block content %}
<link rel="stylesheet" href="./static/css/problemlist.css">



<div class="container">
<div class="pagination">
    {%if ranks.has_previous%}
        <li><a href="?page={{ranks.previous_page_number}}">&laquo;</a></li>
    {%else%}
        <li class="disabled"><a href="#">&laquo;</a></li>
    {%endif%}

    {%for i in ranks.paginator.page_range %}
        {%ifequal ranks.number i%}
            <li class="active"><a href="?page={{i}}">{{i}}</a></li>
        {%else%}
            <li><a href="?page={{i}}">{{i}}</a></li>
        {%endifequal%}
    {%endfor%}

    {%if ranks.has_next%}
        <li><a href="?page={{ranks.next_page_number }}">&raquo;</a></li>
    {%else%}
        <li class="disabled"><a href="#">&raquo;</a></li>
    {%endif%}
</div><!--  end for pagination -->

<table class="table table-striped table-condensed table-hover">
	<thead><tr>
		<th>Rank#</th>
        <th>Author</th>
		<th width="40%">Nickname</th>
        <th>Score</th>
        <th>Ratio</th>
        <th width="5%">Sloved</th>
        <th width="5%">Submit</th>
	</tr></thead>
	<tbody>
    {% for x in ranks %}
    <tr align="left">

    	<td width="5%">{{forloop.counter}}</td>
        <td><a href="/oj/userdetail/{{x.user.username}}">{{x.user.username}}</a></td>
    	<td>{{x.nickname}}</td>
        <td>{{x.score1}}</td>
        <td id='ra{{forloop.counter}}' width='10%'>({{x.solved}}/{{x.submit}})</td>
        <td>{{x.solved}}</td>
        <td>{{x.submit}}</td>
        
        <script>
        var ac,sub,ra;
        ac={{x.solved}};
        sub={{x.submit}};
        ra=(ac/sub).toFixed(2);
        $('#ra{{forloop.counter}}').empty().append(ra+'&nbsp;');
        </script>
    </tr>
    {% endfor %} 
    </tbody>    
</table>
</div>
<ul class="pager">
    {%if ranks.has_previous%}
    <li><a href="?page={{ranks.previous_page_number}}">Previous</a></li>
    {%else%}
    <li class="disabled"><a href="#">Previous</a></li>
    {%endif%}
    {%if ranks.has_next%}

    <li><a href="?page={{ranks.next_page_number}}">Next</a></li>
    {%else%}
    <li class="disabled"><a href="#">Next</a></li>
    {%endif%}
    <li><a href="?page=1">Top</a></li>
</ul>
{% endblock %}